
@import "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic";
body {
    font-family: 'Francois One', sans-serif;
    width: 100%;
    height:100%;
}
#boxed {
    margin: 0 auto;
}
/*.glyphicons, .halflings, .filetype, .social {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}
.glyphicons {
    font-family: "Glyphicons Regular";
}
.halflings {
    font-family: "Glyphicons Halflings Regular";
}
.filetype {
    font-family: "Glyphicons Filetypes Regular";
}
.social {
    font-family: "Glyphicons Social Regular";
}*/
@font-face {
    font-family: "themovation-icons";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/themovation-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/themovation-icons.woff") format("woff"), url("../fonts/themovation-icons.ttf") format("truetype"), url("../fonts/themovation-icons.svg#themovation-icons") format("svg");
}
.th-icon::before {
    -moz-osx-font-smoothing: grayscale;
    font-family: "themovation-icons" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none !important;
}
.th-i-prev::before {
    content: "a";
}
.th-i-gallery::before {
    content: "b";
}
.th-i-next::before {
    content: "c";
}
.th-i-up::before {
    content: "d";
}
.th-i-down::before {
    content: "e";
}
.th-i-cart::before {
    content: "f";
}
.th-i-card::before {
    content: "g";
}
.th-i-card2::before {
    content: "h";
}
.th-i-card, .th-i-card2 {
    font-size: 24px;
}
.th-i-cart2::before {
    content: "i";
}
.th-i-cart3::before {
    content: "j";
}
/*img {
    height: auto !important;
    max-width: 100%;
}*/
.banner {
    z-index: 20;
}
.navbar {
    
    margin-bottom: 0;
}
#logo {
    display: block;
    float: left;
    margin: 20px 0;
}
#logo .logo-trans {
    display: none;
}
.navbar .navbar-nav {
    float: right;
    margin: 12px 0 0;
    text-align: right;
    font-family: 'Francois One', sans-serif;
}
.navbar .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    margin: 0 15px;
    padding: 15px 0;
    position: relative;
    transition: all 0.1s linear 0s;
}
.navbar .navbar-nav > li > a::after {
    background-color: #fff;
    bottom: 12px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    transition: all 0.2s linear 0s;
    width: 2px;
}
.navbar .navbar-nav > li > a:hover {
    color: #828282;
}
.navbar .navbar-nav > li > a:hover::after, .navbar .navbar-nav > li.active > a::after, .navbar .navbar-nav > li.active > a:hover::after, .navbar .navbar-nav > li.active > a:focus::after {
    background-color: #1e8190;
    height: 1px;
    width: 100%;
}
.navbar-nav > li + li {
    margin-left: 2px;
}
.navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover, .navbar .navbar-nav > li.active > a:focus {
    background-color: transparent;
    color: #828282;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #353c40;
    border-radius: 0 !important;
}
.navbar .navbar-nav .dropdown-menu li a {
    font-size: 14px;
    position: relative;
}
.navbar .navbar-nav .dropdown-menu li.active a {
    background-color: transparent;
    color: #1e8190;
}
.navbar .navbar-nav .dropdown-menu li a:hover, .navbar .navbar-nav .dropdown-menu li.active a:hover {
    background-color: transparent;
    color: #1e8190;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent !important;
}
.navbar-collapse {
    max-height: none;
}
.navbar-collapse ul {
    margin-bottom: 10px;
}
.top-nav {
    background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
    padding: 8px 0;
}
.top-nav-text {
    float: left;
}
.top-nav-icon-blocks {
    float: right;
}
.top-nav-icon-blocks .icon-block {
    display: inline-block;
    padding: 0 10px;
    text-align: right;
}
.top-nav-icon-blocks .icon-block:last-child {
    padding: 0 0 0 10px;
}
.top-nav-icon-blocks .icon-block a:hover {
    text-decoration: none;
}
.top-nav-icon-blocks .icon-block i {
    padding-right: 6px;
}
.top-nav-icon-blocks .icon-block p, .top-nav-icon-blocks .icon-block a, .top-nav-text p, .top-nav-text a {
    color: #828282;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
}
.top-nav-icon-blocks .icon-block .glyphicons {
    font-size: 14px;
}
/*.banner[data-transparent-header="true"] {
    background-color: transparent;
    border-bottom: 0 none;
    box-shadow: none;
    left: 0;
    overflow: visible !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9998;
}*/
.boxed-mode .banner[data-transparent-header="true"] {
    left: 0;
    margin: 0 auto;
    right: 0;
}
.banner[data-transparent-header="true"] #logo .logo-trans {
    display: inline;
}
.banner[data-transparent-header="true"] #logo .logo-main {
    display: none;
}
.banner[data-transparent-header="true"] .navbar-nav > li > a, .banner[data-transparent-header="true"] .navbar-nav > li.active > a {
    color: #fff;
}
.banner[data-transparent-header="true"] .navbar-nav > li > a:hover, .banner[data-transparent-header="true"] .navbar-nav > li.active > a:hover {
    color: #fff;
}
.banner[data-transparent-header="true"] .navbar-nav > li > a:hover::after, .banner[data-transparent-header="true"] .navbar-nav > li.active > a::after, .banner[data-transparent-header="true"] .navbar-nav > li.active > a:hover::after, .banner[data-transparent-header="true"] .navbar-nav > li.active > a:focus::after {
    background-color: #fff;
}
.banner[data-transparent-header="true"] .top-nav-icon-blocks .icon-block p, .banner[data-transparent-header="true"] .top-nav-icon-blocks .icon-block a, .banner[data-transparent-header="true"] .top-nav-text p, .banner[data-transparent-header="true"] .top-nav-text a {
    color: #fff;
}
.banner[data-transparent-header="true"] .top-nav {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}
.subheader, .prefooter {
    background: #f6f6f6 none repeat scroll 0 0;
    display: none;
    height: 60px;
}
.inner-container {
    background: #fbfcfd none repeat scroll 0 0;
}
.page-title {
    margin: 0 15px;
}
body.blog .page-title, body.single .page-title, body.search .page-title, body.archive .page-title, body.error404 .page-title {
    border-bottom: 1px solid #e6e6e6;

}
.page-title.centered {
    padding: 60px 15%;
}
.page-title.left {
    padding: 60px 30% 60px 0;
}
.page-title.right {
    padding: 60px 0 60px 30%;
    text-align: right;
}
.page-title .header-icon {
    color: #a3a3a3;
    font-size: 28px;
    margin-bottom: 20px;
}
.light-text .page-title .header-icon {
    color: rgba(255, 255, 255, 0.5);
}
.page-title h1 {
    color: #1e8190;
    margin: 0;
}
.page-title h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    padding: 10px 0 0;
}
.light-text .page-title h1 {
    color: #fff;
}
.full-header-img {
    background: #f2f3f7 none repeat fixed 0 0 / cover ;
}
.preloader .page-title {
    border-bottom: 0 none;
}
.page-title .page-title-button {
    margin: 30px 0 0;
}
.page-title .btn-standard, .page-title .btn-ghost, .page-title .a2c-btn a.button {
    font-size: 18px;
}
.page-title .th-btn {
    margin-bottom: 5px;
    margin-top: 5px;
}
.page-title.left .th-btn {
    margin-right: 8px;
}
.page-title.left .th-btn + .th-btn {
    margin-right: 0;
}
.page-title.centered .th-btn {
    margin-left: 4px;
    margin-right: 4px;
}
.page-title.right .th-btn + .th-btn {
    margin-left: 8px;
}
.light-text, .light-text h1, .light-text h2, .light-text h3, .light-text h4, .light-text h5, .light-text h6, .light-text p, .light-text ul, .light-text ul li, .light-text ol, .light-text ol li, .light-text dl, .light-text dl dt, .light-text i, .light-text i.accent {
    color: #fff;
}
.light-text a {
    color: rgba(255, 255, 255, 0.85);
}
.light-text a:hover {
    color: #fff;
}
.light-text .btn-ghost, .light-text .a2c-ghost.woocommerce a.button {
    border-color: #fff;
    color: #fff;
}
.light-text .btn-ghost:hover, .light-text .a2c-ghost.woocommerce a.button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1e8190;
    opacity: 1;
}
.light-text .btn-cta, .light-text .btn-standard {
    color: #fff;
}
.light-text .circle-med-icon i {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.6);
}
.light-text .circle-med-icon i:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
}
.light-text .team-member-social a .soc-icon {
    color: #fff;
    opacity: 0.6;
}
.light-text .team-member-social a .soc-icon:hover {
    color: #fff;
    opacity: 0.9;
}
.centered {
    text-align: center;
}
.no-border {
    border: 0 none !important;
}
.extra-padding {
    padding-bottom: 40px;
    padding-top: 40px;
}
.xs-icon {
    font-size: 18px;
}
.sm-icon {
    font-size: 24px;
}
.med-icon {
    font-size: 32px;
}
.lrg-icon {
    font-size: 52px;
}
.xl-icon {
    font-size: 72px;
}
.circle {
    border-radius: 50em !important;
}
.accent {
    color: #1e8190;
}
.invert {
    background-color: #bfbfbf;
    color: #fff;
}
.circle-med-icon span, .circle-med-icon i, .circle-lrg-icon span, .circle-lrg-icon i {
    border-radius: 50em !important;
    display: inline-block;
    line-height: 100%;
    text-align: center;
    transition: all 0.25s linear 0s;
    vertical-align: top !important;
}
.circle-med-icon span, .circle-med-icon i {
    background-color: #1e8190;
    color: #fff;
    font-size: 22px;
    padding: 22px;
}
.circle-lrg-icon span, .circle-lrg-icon i {
    background-color: #1e8190;
    border: 4px solid #1e8190;
    color: #fff;
    font-size: 52px;
    padding: 48px;
}
.circle-lrg-icon span:hover, .circle-lrg-icon i:hover {
    background-color: transparent;
    border: 4px solid #1e8190;
    color: #1e8190;
}
.light-text .circle-lrg-icon span:hover, .light-text .circle-lrg-icon i:hover {
    border-color: #fff;
    color: #fff;
}
.flexible-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.flexible-container iframe, .flexible-container object, .flexible-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
body.page .comment-respond {
    margin-bottom: 50px;

}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.section-header {
    margin-bottom: 30px;
}
.section-header.left {
    text-align: left;
}
.section-header.centered {
    text-align: center;
}
.section-header.right {
    text-align: right;
}
.section-header .header-icon {
    color: #a3a3a3;
    font-size: 26px;
    margin-bottom: 20px;
}
.light-text .section-header .header-icon {
    color: rgba(255, 255, 255, 0.5);
}
.section-header h2 {
    margin: 0 0 30px;
    padding-bottom: 16px;
    position: relative;
}
.section-header h2::after {
    background-color: #1e8190;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    width: 70px;
}
.light-text .section-header h2::after {
    /*background-color: rgba(255, 255, 255, 0.5);*/
}
.section-header.left h2::after {
    left: 0;
    margin-left: 0;
}
.section-header.right h2::after {
    left: auto;
    margin-left: 0;
    right: 0;
}
.section-header h2.section-header-icon::after {
    display: none;
}
.section-header h2.section-header-icon {
    margin: 0;
    padding-bottom: 16px;
}
.content-editor, .error-404 {
    padding-bottom: 40px;
    padding-top: 40px;
}
.meta-border {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto;
}
.standard-blog .page {
    padding-top: 45px;
}
.standard-blog .page:first-child {
    padding-top: 0;
}
.standard-blog .page .post-title {
    margin-top: 0;
}
.loading {
    background: rgba(0, 0, 0, 0) url("../images/ico_loading.gif") no-repeat scroll center center;
}
.loaded {
    opacity: 1;
    transition: opacity 0.3s ease-out 0s;
}
#preload {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1px;
}
.parallax-bg {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.preloader > section.parallax-bg, .preloader > section.full-header-img {
    opacity: 0;
}
.loaded > section.parallax-bg, .loaded > section.full-header-img {
    opacity: 1;
}
.video-container, .wp-hosted-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.video-container {
    padding-top: 30px;
}
.video-container iframe, .video-container object, .video-container embed, .wp-hosted-video iframe, .wp-hosted-video object, .wp-hosted-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
embed, iframe, object, video {
    max-width: 100%;
}
.wp-video-shortcode .mejs-controls, .wp-audio-shortcode .mejs-controls {
    background: #1d1d1d none repeat scroll 0 0 !important;
}

/*h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}*/
/*h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: none;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p, li {
    font-size: 15px;
    line-height: 185%;
}
p {
    color: #5c5c5c;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}*/
a {
    color: #1e8190;
    transition: all 0.2s ease-in-out 0s;
}
a:hover {
    color: #5c5c5c;
}
.btn {
    border-radius: 2px;
    padding: 10px 45px;
    transition: all 0.2s linear 0s;
    white-space: normal;
}
.btn-standard {
    background-color: #1e8190;
    border-color: #1e8190;
    color: #fff;
}
.btn-standard:hover {
    color: #fff;
    opacity: 0.85;
}
.btn-ghost {
    background-color: transparent;
    border-color: #1e8190;
    color: #1e8190;
}
.btn-ghost:hover {
    background-color: #1e8190;
    border-color: #1e8190;
    color: #fff;
}
.btn-cta {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f96d64;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.15);
    border-image: none;
    border-radius: 2px;
    border-style: none none solid;
    border-width: 0 0 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 60px;
    text-transform: uppercase;
    white-space: nowrap;
}
.btn-cta:hover {
    color: #fff;
    opacity: 0.85;
    text-decoration: none;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 0 0;
    outline: 0 none;
}
.th-btn.btn-image img {
    max-height: 50px;
}
.content-editor .btn, .content-editor .th-btn, .service-split .btn, .service-split .th-btn {
    margin-bottom: 25px;
    margin-top: 10px;
}
.btn-lg, .btn-large, .btn-group-lg > .btn, .btn-group-large > .btn {
    font-size: 18px;
}
.btn-sm, .btn-group-sm > .btn {
    border-radius: 2px;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 20px;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 2px;
    font-size: 12px;
    line-height: 1.5;
    padding: 3px 8px;
}*/
.btn.dropdown-toggle, .btn-group .btn, #main-flex-slider .btn.dropdown-toggle, #main-flex-slider .dropdown-menu li a {
    margin-bottom: 0;
}
/*.btn-group .dropdown-menu li a {
    text-align: left;
}
.navbar-toggle {
    border-radius: 2px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f5f5f5;
}
.light-text .btn-default, .light-text .btn-default i, .light-text .btn-default:hover, .light-text .btn-default i:hover {
    color: #333;
}*/
form input, .frm_forms form label, .with_frm_style label.frm_primary_label, .with_frm_style.frm_login_form label, .frm_forms form input, .frm_forms form textarea, .with_frm_style input[type="text"], .with_frm_style input[type="password"], .with_frm_style input[type="email"], .with_frm_style input[type="number"], .with_frm_style input[type="url"], .with_frm_style input[type="tel"], .with_frm_style select, .frm_style_formidable-style.with_frm_style select, .with_frm_style textarea, .frm_style_formidable-style.with_frm_style textarea, #content .with_frm_style input:not([type="submit"]):not([type="button"]), #content .with_frm_style select, #content .with_frm_style textarea, .with_frm_style .chzn-container, .with_frm_style input[type="file"], .with_frm_style .frm_submit input[type="submit"], .with_frm_style .frm_submit input[type="button"], .frm_form_submit_style, .with_frm_style.frm_login_form input[type="submit"], a.frm_save_draft, .with_frm_style #frm_field_cptch_number_container, .with_frm_style .frm_radio label, .with_frm_style .frm_checkbox label, .frm_forms .frm_description, .with_frm_style p.description, .with_frm_style div.description, .with_frm_style div.frm_description, .frm_style_formidable-style.with_frm_style .frm_error {
    box-shadow: 0 0 0 !important;
    font-family: 'Francois One', sans-serif;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], textarea {
    color: #5c5c5c !important;
    font-family: 'Francois One', sans-serif;
}
.radio, .checkbox {
    padding-left: 0;
}
.with_frm_style .form-field, .with_frm_style .frm_form_field, .frm_style_formidable-style.with_frm_style .form-field {
    margin-bottom: 15px;
}
.frm_forms form input[type="text"], .frm_forms form input[type="email"], .frm_forms form input[type="url"], .frm_forms form input[type="password"], .frm_forms form input[type="number"], .frm_forms form input[type="tel"], .frm_style_formidable-style.with_frm_style input[type="text"], .frm_style_formidable-style.with_frm_style input[type="password"], .frm_style_formidable-style.with_frm_style input[type="email"], .frm_style_formidable-style.with_frm_style input[type="number"], .frm_style_formidable-style.with_frm_style input[type="url"], .frm_style_formidable-style.with_frm_style input[type="tel"], .frm_style_formidable-style.with_frm_style input[type="file"], .frm_style_formidable-style.with_frm_style input[type="search"] {
    border-radius: 2px;
    font-family: 'Francois One', sans-serif;
    font-size: 13px;
    height: 46px;
    margin-bottom: 0;
    padding: 0 15px;
}
.frm_forms form input, .frm_forms form textarea, .frm_style_formidable-style.with_frm_style textarea {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    font-size: 13px;
    margin-bottom: 0;
    transition: all 0.15s linear 0s;
}
.frm_forms form textarea, .frm_style_formidable-style.with_frm_style textarea {
    padding: 20px !important;
}
.frm_forms form label, .with_frm_style label.frm_primary_label, .with_frm_style.frm_login_form label, .frm_style_formidable-style.with_frm_style label.frm_primary_label, .frm_style_formidable-style.with_frm_style.frm_login_form label, .frm_style_formidable-style.with_frm_style .frm_radio label, .frm_style_formidable-style.with_frm_style .frm_checkbox label {
    color: #5d5d5d;
    font-family: 'Francois One', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0 6px;
}
.with_frm_style .frm_radio label, .frm_radio label, .with_frm_style .frm_checkbox label, .frm_checkbox label {
    font-size: 12px;
}
form select:focus, form textarea:focus, form input:focus {
    border: 1px solid #1e8190 !important;
    outline: 0 none !important;
}
.frm_forms form select, .frm_style_formidable-style.with_frm_style select {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    color: #6c6c6c;
    font-size: 13px;
    height: 46px;
    padding: 0 12px !important;
}
form input[type="submit"], .with_frm_style .frm_submit input[type="submit"], .with_frm_style .frm_submit input[type="button"], .frm_form_submit_style, .with_frm_style.frm_login_form input[type="submit"] {
    background: #1e8190 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    margin-top: 0;
    opacity: 1;
    padding: 10px 30px;
}
form input[type="submit"]:hover, .with_frm_style .frm_submit input[type="submit"]:hover, .with_frm_style .frm_submit input[type="button"]:hover, .frm_form_submit_style:hover, .with_frm_style.frm_login_form input[type="submit"]:hover {
    background: #1e8190 none repeat scroll 0 0;
    color: #fff;
    opacity: 0.9;
    font-family: 'Francois One', sans-serif;
}
.frm_forms .frm_none_container label.frm_primary_label, .frm_forms .frm_pos_none {
    display: none;
}
.frm_forms .frm_description {
    font-size: 14px !important;
}
.with_frm_style .frm_error_style, .with_frm_style .frm_message, .frm_success_style {
    border-radius: 2px;
    line-height: 1.4;
}
.ui-datepicker-header, .ui-widget-header {
    background: #ccc none repeat scroll 0 0 !important;
    border-color: #aaa !important;
}
.ui-datepicker select {
    color: #333;
}
.ui-datepicker-header .ui-datepicker-prev:hover, .ui-datepicker-header .ui-datepicker-next:hover {
    background: #ddd none repeat scroll 0 0;
    border-color: #999;
}
.ui-datepicker .ui-state-default.ui-state-highlight {
    background: #eee none repeat scroll 0 0;
    border-color: #eee;
    color: #737373;
}
.ui-datepicker .ui-state-default.ui-state-active {
    background: #eee none repeat scroll 0 0;
    border-color: #999;
    color: #363636;
}
.ui-datepicker .ui-state-default:hover {
    background: #ccc none repeat scroll 0 0;
    border-color: #999;
    color: #363636;
}
#recaptcha_area input {
    border-radius: 0;
    height: auto;
}
#recaptcha_privacy a {
    color: #666;
}
.widget .frm_forms {
    padding-top: 4px;
}
.widget .frm_style_formidable-style.with_frm_style fieldset {
    padding-bottom: 0;
}
.widget .frm_style_formidable-style.with_frm_style .form-field {
    margin-bottom: 15px;
}
.widget input[type="text"], .widget input[type="email"], .widget input[type="url"], .widget input[type="password"], .widget input[type="number"], .widget input[type="tel"], .widget textarea, .widget select, .widget input[type="submit"] {
    max-width: 450px !important;
    width: 100% !important;
}
.widget input {
    height: 50px !important;
}
.widget input[type="checkbox"], .widget input[type="radio"] {
    height: auto !important;
}
.widget input[type="submit"], .widget .frm_style_formidable-style.with_frm_style input[type="submit"] {
    border-radius: 2px;
    box-sizing: border-box !important;
    margin: 0;
    padding: 12px !important;
}
/*.footer input[type="text"], .footer input[type="email"], .footer input[type="url"], .footer input[type="password"], .footer input[type="number"], .footer input[type="tel"], .footer textarea, .footer select {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    max-width: 450px;
}
.footer select {
    color: #9f9f9f !important;
}
.footer .frm_forms .frm_message p, .footer .with_frm_style .frm_message p {
    color: #468847 !important;
}
.footer .frm_forms input[type="submit"], .footer .frm_forms input[type="submit"]:hover {
    border: 1px solid transparent;
}
.footer #recaptcha_area input {
    background: #fff none repeat scroll 0 0 !important;
}
.footer label, .footer .frm_forms .frm_description {
    color: #c6c6c6 !important;
}
*/
.simple-conversion {
    padding-top: 10px;
    text-align: center;
}
.simple-conversion .frm_forms.with_frm_style {
    max-width: 100% !important;
}
.simple-conversion .with_frm_style form {
    text-align: center;
}
.simple-conversion .frm_form_field {
    position: relative;
}
.simple-conversion form input {
    border: 1px solid #d3d3d3;
    border-radius: 2px !important;
    height: 56px !important;
    margin: 5px 10px !important;
    padding: 0 20px;
    width: 225px !important;
}
.simple-conversion form input[type="submit"], .simple-conversion .with_frm_style input[type="submit"] {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #1e8190;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.1) !important;
    border-image: none !important;
    border-style: none none solid !important;
    border-width: 0 0 3px !important;
    box-sizing: border-box !important;
    color: #fff;
    height: 56px;
    padding: 0;
    width: 225px;
}
.simple-conversion form input[type="submit"]:hover, .simple-conversion form input[type="submit"]:active, .simple-conversion form input[type="submit"]:focus, .simple-conversion .with_frm_style input[type="submit"]:hover, .simple-conversion .with_frm_style input[type="submit"]:active, .simple-conversion .with_frm_style input[type="submit"]:focus {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.1) !important;
    border-image: none !important;
    border-style: none none solid !important;
    border-width: 0 0 3px !important;
    opacity: 0.85;
}
#frm_submit_entry {
    text-align: center;
}
.simple-conversion fieldset, .simple-conversion div, .simple-conversion .frm_form_field, .simple-conversion .frm_submit {
    display: inline-block !important;
}
.simple-conversion form .frm_top_container label {
    display: block !important;
    margin-left: 10px !important;
    text-align: left;
}
.simple-conversion .frm_error {
    bottom: -12px;
    left: 10px;
    line-height: 1.4;
    position: absolute;
}
.simple-conversion .frm_ajax_loading {
    display: none;
}


#main-flex-slider {
    background: transparent none repeat scroll 0 0;
    text-align: center;
}
#main-flex-slider .slides img {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}
#main-flex-slider .slider-bg {
    background-color: #ececec;
    background-position: center top;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
}
#main-flex-slider .slides h1 {
    color: #1e8190;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 20px;
}
#main-flex-slider .slides p {
    color: #2e2e2e;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}
#main-flex-slider .lrg-txt h1 {
    font-size: 56px;
    line-height: 100%;
    margin-bottom: 30px;
}
#main-flex-slider .lrg-txt p {
    font-size: 26px;
    line-height: 30px;
}
#main-flex-slider .slides .page-title-button {
    margin-bottom: 30px;
}
#main-flex-slider .btn-standard, #main-flex-slider .btn-ghost, #main-flex-slider .a2c-btn a.button {
    font-size: 18px;
}
#main-flex-slider .th-btn {
    margin: 8px 5px;
}
.flexslider .slides .btn-image img {
    display: inline-block;
}
#main-flex-slider .th-btn.btn-image img {
    margin-bottom: 10px;
}
#main-flex-slider .slides p.woocommerce.a2c-btn {
    font-size: inherit;
    margin-bottom: 8px;
}
#main-flex-slider .slides .hero {
    margin-top: 20px;
}
.flex-direction-nav a {
    background-color: #111;
    border-radius: 2px;
    height: 60px;
    margin-top: -30px;
    overflow: visible;
    padding: 0 !important;
    width: 60px;
}
.flex-direction-nav a::before {
    font-family: "themovation-icons" !important;
    font-size: 22px;
    line-height: 60px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    color: #fff;
    opacity: 0.65;
}
.flex-direction-nav .flex-next::before {
    content: "c" !important;
}
.flex-direction-nav .flex-prev::before {
    content: "a" !important;
}
.flex-direction-nav .flex-prev {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    left: 0;
    opacity: 0.1;
    text-align: center;
}
.flexslider:hover .flex-prev {
    left: 0;
    opacity: 0.35;
}
.flex-direction-nav .flex-next {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    opacity: 0.1;
    right: 0;
    text-align: center;
}
.flexslider:hover .flex-next {
    opacity: 0.35;
    right: 0;
}
#main-flex-slider .flex-control-nav {
    bottom: 20px;
    z-index: 5;
}
#main-flex-slider .slides .light-text h1, #main-flex-slider .slides .light-text p {
    color: #fff;
}
a.slider-scroll-down {
    border-radius: 50em;
    bottom: 10px;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 50px;
    left: 50%;
    line-height: 54px;
    margin-left: -25px;
    opacity: 0.6;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    width: 50px;
    z-index: 1000;
}
.slider-scroll-down:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none;
    transform: translate(0px, 8px);
}
#main-flex-slider .simple-conversion {
    padding-bottom: 20px;
    padding-top: 100px;
}
#main-flex-slider .simple-conversion form input {
    border-color: #ababab;
}
#main-flex-slider .light-text .simple-conversion form input {
    border-color: #fff;
}
#main-flex-slider .simple-conversion form input[type="submit"], #main-flex-slider .simple-conversion .with_frm_style input[type="submit"] {
    border-color: rgba(0, 0, 0, 0.1);
}
#main-flex-slider .simple-conversion .frm_message p {
    color: #468847;
    font-size: 14px;
    margin-bottom: 0;
}
#main-flex-slider .col-sm-6 .simple-conversion {
    padding-top: 50px;
}
#main-flex-slider .form-bg .col-sm-6 .simple-conversion {
    margin: 20px auto 0;
    max-width: 450px;
    padding: 25px;
    width: 100%;
}
#main-flex-slider .form-bg.light-bg .col-sm-6 .simple-conversion {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}
#main-flex-slider .form-bg.dark-bg .col-sm-6 .simple-conversion {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}
#main-flex-slider .form-bg .col-sm-6 .simple-conversion fieldset {
    padding-bottom: 0 !important;
}
#main-flex-slider .col-sm-6 .simple-conversion form, #main-flex-slider .col-sm-6 .simple-conversion form input, #main-flex-slider .col-sm-6 .simple-conversion form textarea, #main-flex-slider .col-sm-6 .simple-conversion form .frm_submit, #main-flex-slider .col-sm-6 .frm_error_style {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 400px !important;
}
#main-flex-slider .col-sm-6 .simple-conversion form input {
    margin: 0 !important;
}
#main-flex-slider .col-sm-6 .simple-conversion form textarea {
    margin-bottom: -5px !important;
}
#main-flex-slider .col-sm-6 .simple-conversion .with_frm_style form {
    text-align: left;
}
#main-flex-slider .col-sm-6 .simple-conversion .frm_error {
    bottom: 0;
    left: 0;
    position: relative;
}
@media (max-width: 991px) {
#main-flex-slider .col-sm-6 .simple-conversion form, #main-flex-slider .col-sm-6 .simple-conversion .frm_form_field, #main-flex-slider .col-sm-6 .simple-conversion form input, #main-flex-slider .col-sm-6 .simple-conversion form textarea, #main-flex-slider .col-sm-6 .simple-conversion form .frm_submit, #main-flex-slider .col-sm-6 .frm_error_style {
    width: 100% !important;
}
}
#main-flex-slider .light-text .col-sm-6 .simple-conversion input, #main-flex-slider .light-text .col-sm-6 .simple-conversion textarea {
    border-color: #fff;
}
#main-flex-slider .booked-cal-sm {
    margin: 35px auto 0;
    max-width: 400px;
}
#main-flex-slider .slider-title + .booked-cal-sm {
    margin-top: 50px;
}
#main-flex-slider .booked-calendarSwitcher {
    float: left;
}
#main-flex-slider .booked-calendarSwitcher p {
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0 !important;
}
.team {
    padding-bottom: 0;
    padding-top: 40px;
}
.team-member {
    padding-bottom: 40px;
}
.team-member-wrap {
    margin: 0 auto;
    max-width: 480px;
}
.team-member.col-sm-6 .team-member-wrap {
    max-width: 420px;
}
.team-member-image {
    margin-bottom: 20px;
}
.team-member h5 {
    font-size: 16px;
    font-weight: 300;
}
.team-member-social a .soc-icon {
    color: #000;
    font-size: 24px;
    margin-top: 5px;
    opacity: 0.3;
}
.team-member-social a .soc-icon:hover {
    color: #1e8190;
    opacity: 1;
}
@media (min-width: 992px) {
.team .team-member:nth-child(3n+1) {
    clear: left;
}
}
.testimonials {
    padding-bottom: 40px;
    padding-top: 40px;
}
.quote {
    margin: 0 auto;
    max-width: 450px;
    padding: 25px 30px 40px;
}
.quote blockquote {
    border: 0 none;
    color: #868686;
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 22px;
    padding: 0;
}
.quote img {
    float: left;
    height: 60px;
    margin: 0 14px 0 0;
    width: 60px;
}
.quote figcaption {
    color: #6d6d6d;
    font-size: 18px;
    margin-left: 72px;
    padding-top: 5px;
}
.quote figcaption span {
    color: #868686;
    display: block;
    font-size: 14px;
    font-weight: normal;
}
.light-text.testimonials .quote blockquote, .light-text.testimonials .quote figcaption, .light-text.testimonials .quote figcaption span {
    color: #fff;
}
.col-md-12 .quote {
    max-width: 900px;
    text-align: center;
}
.col-md-12 .quote blockquote {
    font-size: 26px;
}
.col-md-12 .quote img {
    float: none;
    margin: 5px auto 10px;
}
.col-md-12 .quote figcaption {
    margin-left: 0;
}
.thumb-slider {
    padding-bottom: 40px;
    padding-top: 40px;
}
.thumb-flex-slider {
    padding-left: 15px;
    padding-right: 15px;
}
.thumb-flex-slider .slides img {
    display: none;
}
.thumb-flex-slider .slides {
    text-align: center;
}
.thumb-flex-slider .slides > li {
    margin-right: 40px;
}
.thumb-flex-slider a img {
    transition: all 0.25s linear 0s;
}
.thumb-flex-slider a img:hover {
    opacity: 0.7;
}
.thumb-flex-slider .thumb-title {
    color: #515151;
    font-size: 18px;
    font-weight: 600;
    margin: 10px auto 0;
}
.thumb-flex-slider .thumb-title a {
    text-decoration: none;
}
.thumb-flex-slider .thumb-title span {
    color: #5c5c5c;
    display: block;
    font-size: 14px;
    font-weight: normal;
}
.flexslider a.img-thumbnail {
    background: transparent none repeat scroll 0 0 !important;
}
.thumb-flex-slider .flex-direction-nav a::before {
    font-size: 16px;
    line-height: 50px;
}
.thumb-flex-slider .flex-direction-nav a {
    color: #fff;
    height: 50px;
    opacity: 0.5;
    width: 50px;
}
.thumb-flex-slider.flex-landscape .flex-direction-nav a {
    margin-top: 0;
    top: 60px;
}
.thumb-flex-slider .flex-direction-nav .flex-prev {
    left: 15px;
}
.thumb-flex-slider .flex-direction-nav .flex-next {
    right: 15px;
}
.thumb-flex-slider.flexslider:hover .flex-prev, .thumb-flex-slider.flexslider:hover .flex-next {
    opacity: 0.6;
}
.thumb-flex-slider.flexslider .flex-prev:hover, .thumb-flex-slider.flexslider .flex-next:hover {
    opacity: 0.8;
}
.light-text .thumb-flex-slider .thumb-title {
    color: #fff;
}
.light-text .thumb-flex-slider span {
    color: rgba(255, 255, 255, 0.8);
}
.flex-control-nav {
    bottom: 5px;
    z-index: 5;
}
.flex-control-paging li a {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    box-shadow: 0 0 0;
}
.flex-control-paging li a:hover {
    background: #fff none repeat scroll 0 0;
}
.flex-control-paging li a.flex-active {
    background: #fff none repeat scroll 0 0;
}
.float-content {
    padding: 0 10%;
}
.img-center .float-content {
    padding: 15px 15% 30px;
}
.tour-content-title {
    margin: 0 0 15px;
}
.float-block .btn {
    margin-top: 10px;
}
.float-img img {
    margin: 0 auto;
}
.large-tour .tour-content-title {
    font-size: 36px;
    line-height: 40px;
}
.large-tour p {
    font-size: 18px;
}
.large-tour .btn-standard, .large-tour .btn-ghost {
    font-size: 18px;
    margin-top: 15px;
}
.lg-tour-image .float-content {
    padding: 0 5%;
}
.search-form input, .search-submit {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    box-shadow: 0 0 0;
    height: 50px;
}
.search-form input {
    border-right: 0 none !important;
}
.search-form input:focus {
    border: 1px solid #1e8190;
}
.search-submit {
    background-color: #1e8190;
    border: 0 none;
    color: #fff;
    margin-left: 0 !important;
    opacity: 1;
    padding: 14px;
}
.search-submit:hover {
    background-color: #1e8190;
    box-shadow: 0 0 0;
    color: #fff;
    opacity: 0.9;
}
.widget ul {
    margin: 0;
    padding: 0;
}
.widget ul li {
    border-bottom: 1px solid #e2e2e2;
    list-style: outside none none;
    padding: 8px 0;
}
.widget ul li:first-child {
    padding-top: 0;
}
.widget ul li ul li {
    margin-left: 20px;
}
.widget ul li a:hover {
    text-decoration: none;
}
.widget.widget_categories ul li, .widget.widget_pages ul li, .widget.widget_nav_menu ul li {
    border-bottom: 0 none;
    padding: 0;
}
.widget.widget_categories li a, .widget.widget_pages li a, .widget.widget_nav_menu li a {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    padding: 8px 0;
}
.widget .post-date {
    color: #848484;
    display: block;
    font-size: 12px;
}
.widget select {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    color: #6d6d6d;
    display: block;
    padding: 10px;
    transition: all 0.15s linear 0s;
    width: 100%;
}
.widget select:focus {
    border: 1px solid #1e8190;
    outline: 0 none;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    font-size: 12px;
    margin: 0 0 15px;
    text-align: right;
}
#wp-calendar thead {
    font-size: 10px;
}
#wp-calendar thead th {
    padding-bottom: 10px;
    text-align: center;
}
#wp-calendar tbody td {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #fbfcfd;
    font-size: 12px;
    padding: 8px;
    text-align: center;
    transition: all 0.15s linear 0s;
}
#wp-calendar tbody td a:link, #wp-calendar tbody td a {
    font-weight: bold;
    text-decoration: underline;
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
#wp-calendar tbody .pad {
    background: transparent none repeat scroll 0 0;
}
#wp-calendar tbody td:hover {
    background: transparent none repeat scroll 0 0;
}
#wp-calendar thead th, #wp-calendar caption, #wp-calendar tbody {
    color: #2a2a2a;
}
.widget .tagcloud {
    padding-top: 2px;
}
.widget .tagcloud a {
    background-color: #f1f3f4;
    border-radius: 2px;
    font-size: 13px !important;
    line-height: 34px;
    padding: 6px 8px;
    text-align: center;
    transition: all 0.15s linear 0s;
    white-space: nowrap;
}
.widget .tagcloud a:hover {
    background-color: #1e8190;
    color: #fff;
    text-decoration: none;
}
.widget .dropdown .caret {
    display: none;
}
.widget .dropdown-menu {
    background-color: transparent;
    border: medium none;
    box-shadow: 0 0 0;
    display: block;
    float: none;
    min-width: 0;
    position: static;
}
.widget ul.menu li.th-accent {
    border: 0 none;
    margin-top: 0;
}
.soc-icon {
    font-size: 32px;
    margin: 0;
    padding: 0 10px 10px 0 !important;
}
.th-payments-widget img {
    margin: 0 8px 14px 0;
    max-width: 100%;
}
.th-contact-info-widget .icon-blocks {
    padding: 0;
    text-align: inherit;
}
.th-contact-info-widget .icon-block {
    padding: 0;
}
.th-contact-info-widget .icon-blocks p {
    line-height: 195%;
    padding: 0;
}
.th-contact-info-widget .icon-block i {
    padding-right: 10px;
    vertical-align: -1px;
}
.sidebar {
    padding: 40px 15px 40px 40px;
}
.sidebar.side-left {
    padding: 40px 40px 40px 15px;
}
.sidebar .widget {
    margin-bottom: 50px;
}
.sidebar .widget-title {
    border-bottom: 1px solid #e2e2e2;
    color: #6d6d6d;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 22px;
    padding-bottom: 12px;
    position: relative;
}
.sidebar #wp-calendar tbody td a:link {
    font-weight: bold;
}
.sidebar #wp-calendar tbody td a:hover {
    background-color: transparent;
}
/*.footer {
    background: #292e31 none repeat scroll 0 0;
    color: #d2d2d2;
    margin-top: -1px;
    padding: 70px 0 0;
}
.footer-btm-bar {
    background: #23272a none repeat scroll 0 0;
    padding: 30px 0 20px;
}
.footer-widgets.row {
    margin-bottom: 30px;
}
.footer .widget {
    margin-bottom: 40px;
    text-align: center;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #fff;
}
.footer p, .footer a {
    color: #d2d2d2;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer .footer-copyright {
    text-align: center;
}
.footer .widget-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 26px;
    margin-top: 0;
    padding-bottom: 20px;
    position: relative;
}
.footer .meta-border {
    margin-bottom: 25px;
    margin-top: 20px;
}
.footer .meta-border, .footer ul li, .footer .widget ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer .widget.widget_categories ul li, .footer .widget.widget_pages ul li, .footer .widget.widget_nav_menu ul li {
    border-bottom: 0 none;
    box-shadow: 0 0 0;
}
.footer .widget.widget_categories li a, .footer .widget.widget_pages li a, .footer .widget.widget_nav_menu li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer #wp-calendar tbody .pad {
    background: #292e31 none repeat scroll 0 0;
}
.footer #wp-calendar tbody td {
    background: #464a4d none repeat scroll 0 0;
    border: 1px solid #292e31;
}
.footer #wp-calendar tbody td:hover {
    background: #292e31 none repeat scroll 0 0;
}
.footer #wp-calendar thead th, .footer #wp-calendar caption {
    color: #fff;
}
.footer #wp-calendar tbody {
    color: #fff;
}
.footer #wp-calendar #prev {
    text-align: left;
}
.footer .tagcloud a {
    background-color: #464a4d;
}
.footer .tagcloud a:hover {
    background-color: #1e8190;
    color: #fff;
    text-decoration: none;
}
.footer .search-form input {
    border: 0 none;
}
.footer .search-form input:focus {
    border: 0 none;
    box-shadow: 0 0 0;
}
.footer .widget select {
    border: 0 none;
}
.footer .widget select:focus {
    border: 0 none;
    box-shadow: 0 0 0;
}
.footer .soc-icon {
    padding: 0 5px 10px !important;
}
.footer a .soc-icon {
    color: #464a4d;
}
.footer a .soc-icon:hover {
    color: #8e979d;
}
.footer .icon-blocks p {
    font-size: 15px;
}*/
.th-payments-widget img {
    margin: 0 8px 14px 0;
    max-width: 100%;
}
.th-contact-info-widget .icon-blocks {
    padding: 0;
    text-align: inherit;
}
.th-contact-info-widget .icon-block {
    padding: 0;
}
.th-contact-info-widget .icon-blocks p {
    line-height: 195%;
    padding: 0;
}
.th-contact-info-widget .icon-block i {
    padding-right: 10px;
    vertical-align: -1px;
}
.footer .widget .dropdown-menu a, .footer .widget .dropdown-menu > .active > a {
    background-color: transparent;
    color: #d2d2d2;
}
.footer .widget .dropdown-menu a:hover, .footer .widget .dropdown-menu > .active > a:hover, .footer .widget .dropdown-menu > .active > a:focus {
    color: #fff;
}
.footer .widget ul li ul li {
    margin-left: 0;
}
.alert {
    border-radius: 2px;
}
.blockquote-space {
    margin-left: 10px;
}
.light-text blockquote footer {
    color: #eaeaea;
}
.content-editor .flexslider, .service-split .flexslider {
    margin: 20px 0;
}
span.dropcap {
    display: block;
    float: left;
    font-size: 36px;
    line-height: 30px;
    margin: 6px 8px 0 0;
}
.dropcap.dropcap-box {
    background: #f9f9f9 -moz-linear-gradient(center bottom , #f7f7f7 0%, #fff 100%) repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
    font-size: 24px;
    height: 36px;
    line-height: 36px;
    margin: 6px 12px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
}
.dropcap.dropcap-circle {
    background: #f9f9f9 -moz-linear-gradient(center bottom , #f7f7f7 0%, #fff 100%) repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
    font-size: 24px;
    height: 36px;
    line-height: 36px;
    margin: 6px 12px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
}
.dropcap.dropcap-book {
    line-height: 30px;
    margin: 6px 8px 0 0;
}
.row.gallery-row {
    padding: 15px 0;
}
.gallery .img-thumbnail {
    border: 0 none;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
}
.gallery a.img-thumbnail {
    transition: all 0.25s linear 0s;
}
.gallery a.img-thumbnail:hover {
    opacity: 0.7;
}
.gallery .gallery-text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #e4e4e4 #e4e4e4;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    overflow: hidden;
    padding: 20px 20px 10px;
    text-align: center;
}
.gallery .image-title {
    color: #515151;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.gallery .caption {
    color: #5c5c5c;
    margin-bottom: 10px;
}
.googlemap {
    max-width: inherit;
    position: relative;
}
.googlemap .map_canvas {
    height: 100%;
    width: 100%;
}
.googlemap .map_canvas h3 {
    font-size: 14px;
    margin: 0 0 10px;
}
.map_canvas img {
    max-width: none !important;
}
.light-text .googlemap {
    color: #5c5c5c;
}
.light-text .googlemap h3 {
    color: #515151;
}
.light-text .googlemap a {
    color: #1e8190;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron p {
    color: #555;
}
.progress {
    border-radius: 2px;
}
.nav-tabs {
    margin-top: 20px;
}
.nav-tabs > li > a {
    border-radius: 2px 2px 0 0;
}
.nav-tabs > li > a:hover {
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fbfcfd;
}
.tab-content {
    padding: 20px 0;
}
.bg-success {
    background-color: #d6e9c6;
}
.alert-success {
    background-color: #d6e9c6;
    border-color: #d6e9c6;
    color: #3c763d;
}
.panel-success > .panel-heading {
    background-color: #d6e9c6;
    border-color: #d6e9c6;
    color: #3c763d;
}
.bg-info {
    background-color: #bce8f1;
}
.alert-info {
    background-color: #bce8f1;
    border-color: #bce8f1;
    color: #31708f;
}
.panel-info > .panel-heading {
    background-color: #bce8f1;
    border-color: #bce8f1;
    color: #31708f;
}
.bg-warning {
    background-color: #faebcc;
}
.alert-warning {
    background-color: #faebcc;
    border-color: #faebcc;
    color: #8a6d3b;
}
.panel-warning > .panel-heading {
    background-color: #faebcc;
    border-color: #faebcc;
    color: #8a6d3b;
}
.bg-danger {
    background-color: #ebccd1;
}
.alert-danger {
    background-color: #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
}
.panel-danger > .panel-heading {
    background-color: #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
}
#scrollUp::before {
    -moz-osx-font-smoothing: grayscale;
    font-family: "themovation-icons" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none !important;
}
#scrollUp::before {
    content: "d";
}
#scrollUp {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    bottom: 18px;
    color: #fff;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    opacity: 0.6;
    right: 18px;
    text-align: center;
    text-decoration: none;
    width: 50px;
}
#scrollUp:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.headhesive--clone {
    background-color: #fff !important;
    box-shadow: 0 0 0;
    left: 0;
    position: fixed !important;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 120;
}
.headhesive--stick {
    transform: translateY(0%);
}
.boxed-mode .headhesive--clone {
    left: 0;
    margin: 0 auto;
    right: 0;
}
.headhesive--clone #logo {
    margin-bottom: 16px;
    margin-top: 16px;
}
.headhesive--clone #logo img {
    max-height: 30px !important;
    width: auto;
}
.headhesive--clone #logo .logo-trans {
    display: none !important;
}
.headhesive--clone #logo .logo-main {
    display: inline !important;
}
.headhesive--clone .navbar-nav {
    margin-top: 5px !important;
}
.headhesive--clone .navbar-toggle {
    top: 6px !important;
}
.headhesive--clone .navbar-nav > li > a {
    color: #828282 !important;
}
.headhesive--clone .navbar-nav > li > a:hover::after, .headhesive--clone .navbar-nav > li.active > a::after, .headhesive--clone .navbar-nav > li.active > a:hover::after, .headhesive--clone .navbar-nav > li.active > a:focus::after {
    background-color: #1e8190 !important;
    bottom: 12px;
}
.headhesive--clone .navbar-nav .dropdown-menu {
    margin-top: -2px;
}
.headhesive--clone .top-nav {
    background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0 !important;
}
.headhesive--clone .top-nav-icon-blocks .icon-block p, .headhesive--clone .top-nav-icon-blocks .icon-block a, .headhesive--clone .top-nav-text p, .headhesive--clone .top-nav-text a {
    color: #828282 !important;
}
.headhesive--clone.headhesive--stick[data-transparent-header="true"], .headhesive--clone.headhesive--unstick[data-transparent-header="true"] {
    z-index: 10000;
}
.clear {
    clear: both;
}
.modal-backdrop.in {
    z-index: 10000 !important;
}
.ekko-lightbox, .modal {
    z-index: 50000 !important;
}
.ekko-lightbox-container .flex-direction-nav a {
    opacity: 0.5;
}
.ekko-lightbox-container .flex-direction-nav a:hover {
    color: #fff !important;
    opacity: 0.8;
}
.addthis-toolbox a, .addthis-toolbox a span {
    border-radius: 2px !important;
}
.addthis-toolbox a {
    opacity: 0.75;
}
.addthis-toolbox a:hover {
    opacity: 1;
}
.at-above-post, .at-above-post-homepage {
    margin-bottom: 20px;
}
.at-below-post, .at-below-post-homepage {
    margin-top: 20px;
}
.mas-blog-post .addthis-toolbox, .portfolio .portfolio-row .addthis-toolbox, .team .addthis-toolbox, .thumb-slider .addthis-toolbox {
    display: none !important;
}
.attachment .img-thumbnail {
    border: 0 none;
    border-radius: 0;
    padding: 0;
}
.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}
.alignright {
    float: right;
    margin: 0 0 15px 15px;
}
figure.alignnone {
    margin-left: 0;
    margin-right: 0;
}
.wp-caption {
    height: auto;
    max-width: 100%;
}
.wp-caption, .wp-caption-text, .gallery-caption {
    color: #5c5c5c;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
.alignleft-40 {
    float: left;
    margin: 0 40px 40px 0;
}
.alignright-40 {
    float: right;
    margin: 0 0 40px 40px;
}
.alignleft-60 {
    float: left;
    margin: 0 60px 60px 0;
}
.alignright-60 {
    float: right;
    margin: 0 0 60px 60px;
}
#wpadminbar {
    z-index: 1000000 !important;
}
.banner[data-transparent-header="true"] .th-accent {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.th-accent, .headhesive--clone.banner[data-transparent-header="true"] .th-accent {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-top: 6px;
    padding: 8px 11px;
    transition: all 0.2s linear 0s;
}
.navbar .navbar-nav > li.th-accent > a {
    margin: 0;
    padding: 0;
}
.navbar .navbar-nav > li.th-accent:hover, .banner.headhesive--clone.navbar[data-transparent-header="true"] .navbar-nav > li.th-accent:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0.5);
}
.banner.navbar[data-transparent-header="true"] .navbar-nav > li.th-accent:hover {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.navbar .navbar-nav > li.th-accent > a::after, .navbar .navbar-nav > li.th-accent > a:hover::after, .navbar .navbar-nav > li.th-accent.active > a::after, .navbar .navbar-nav > li.th-accent.active > a:hover::after, .navbar .navbar-nav > li.th-accent.active > a:focus::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.headhesive--clone .navbar-nav > li.th-accent > a:hover::after, .headhesive--clone .navbar-nav > li.th-accent.active > a::after, .headhesive--clone .navbar-nav > li.th-accent.active > a:hover::after, .headhesive--clone .navbar-nav > li.th-accent.active > a:focus::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
